body {
    font-family: Whitney,"Hiragino Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif;;
}

button {
    color: #fff;
    background-color: #5162ef;
    border-width: 0;
    border-radius: .4rem;
    padding: .4rem .8rem;
}

button:hover {
    color: #fff;
    background-color: #5e6df5;
    border-width: 0;
    border-radius: .4rem;
    padding: .4rem .8rem;
}

.top {
    display: flex;
    align-items: center;
    margin: auto;
    width: 960px;
}

.top h1 {
    display: inline-block;
}

.top a {
    margin-left: 2rem;
}

.canvas {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 960px;
}

.canvas-left {
    width: 460px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.canvas-left label {
    font-weight: bold;
}

.edit-block {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    margin-bottom: 1rem;
    padding: .65rem 1.3rem;
    border-radius: 1.3rem;
}

.edit-block input {
    width: 100%;
    margin-top: .1rem;
    margin-bottom: .5rem;
    box-sizing: border-box;
}

.edit-block textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    height: 3rem;
    margin-top: .1rem;
    margin-bottom: .5rem;
}

.edit-buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-buttons button {
    margin-left: .5rem;
    padding: .2rem .6rem;
}

.remove-button {
    background-color: #dc143c;
}

.remove-button:hover {
    background-color: #e1355c;
}

.add-block {
    display: flex;
    align-items: center;
}

.add-input {
    flex-grow: 1;
    margin-left: .8rem;
}

.add-button {
    margin-left: .8rem;
    margin-right: .8rem;
    padding: .3rem .6rem;
    background-color: #42d339;
}

.add-button:hover {
    margin-left: .8rem;
    margin-right: .8rem;
    padding: .3rem .6rem;
    background-color: #3bd72e;
}

.canvas-right {
    width: 480px;
}

.preview-title {
    display: flex;
    align-items: center;
}

.preview-preview {
    margin-right: auto;
}

.preview-copy {
    margin-right: 1rem;
}

.preview {
    display: flex;
    padding: 1rem;
    background: #36393F;
}

.preview-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.preview-text {
    margin-left: 1rem;
}

.preview-header {
    margin-bottom: .3rem;
}

.preview-header-name {
    color: #FFF;
    margin-right: .25rem;
}

.preview-header-time {
    color: #b9bbbe;
    font-size: .75rem;
}

.preview-content {
    color: #DCDDDE;
    overflow-wrap: anywhere;
}

.preview-content-inline {
    display: inline!important;
}

.preview-content span {
    display: block;
}

.preview-content a {
    color: #00aff4;
}
